*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 70vh;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: center;
  background-color: antiquewhite;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input {
  height: 2.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.main {
  max-width: 50vh;
  margin: 20vh auto 0 auto;
}

.flex-up {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.flex-down {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.buttons {
  padding-right: 2rem;
}

button {
  margin-left: 2rem;
  height: 2.5rem;
  width: 10rem;
  border-radius: 1rem;
}

button:hover {
  background-color: #9999ff;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.table-your-friends {
  background-color: red;
  width: 10rem;
  height: 10rem;
}
